.item_header {
    border: 1px solid rgb(52, 52, 206);
    width:600px;
    margin:  40px auto;
    padding-top: 30px;
}

.header {
    margin: auto;
    padding: 20px 40px ;
    
    
}

.item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: 36px;
}

.item_left {
   height: 36px;
   background-color: rgb(36, 128, 36);
   min-width: 30%;
   color: #fff;
   padding-left: 20px;
   margin-right: 20px; 
   line-height: 36px;
}

.item_right {
    width: 100%;
    border: 1px solid rgb(52, 52, 206);
    outline: none;
}

.button_submit {
    display: flex;
    margin: 60px auto 10px ;
    background-color: rgb(36, 128, 36);
    color: #fff;
    line-height: 40px;
    border: 1px solid rgb(52, 52, 206);
    width: 40%;
    justify-content: center; /* nếu dùng  display: flex; thì phải dùng justify-content: center; để căn giữa */
    border-radius: 8px;
    outline: none;
}

.drop {
    height: 36px;
    border: 1px solid rgb(52, 52, 206);
    width: 200px;
}

.comment {
    color: red;
}

.error {
    color: red;
    margin-left: 40px;
}

.submit_1 {
    text-decoration: none;
    color: #fff;
}

.item_header1 {
    width: 500px;
    padding: auto;
}

.item_right_1 {
    line-height: 36px;
    max-height: 200px;
}

.image_1 {
    width: 200px;  
    max-height: 150px;
}

.submit_1 {
    margin-top: 150px;
}

